body{
    background-color:rgba(0, 2, 7, 0.822);
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.2o21_OH1teWO-PrNEZUyxwHaGo?pid=Api&P=0&h=180);
}
.container{
    background-color: rgb(209, 183, 183);
     width: 300px;
     height: 500px;
     display: flex;
     flex-wrap: wrap;
     border: 3px solid black;
     border-radius: 20px;
    /* background: transparent; */
     
}
.inputbox{
     background-color: rgb(145, 145, 150);
     color: black;
    width: 90%;
    height: 180px;
    font-size: 32px;
    text-align:end;
    justify-content: baseline;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px ;
    
    
}
.button{
    width: 68px;
    height: 50px;
    margin: 2px;
    border-radius: 100%;
    border: none;
    font-size: 30px;
    color: white;
     background-color:rgb(76, 75, 75);
     transform: translate(0);
}

.button:hover{
    transition: 0s ease-in-out;
    box-shadow: 0 0 10px rgb(225, 157, 74),
                0 0 10px rgb(225, 157, 74),
                0 0 10px rgb(225, 157, 74),
                0 0 10px rgb(225, 157, 74);
  cursor: pointer;
}
.button1{
    width: 68px;
    height: 50px;
    margin: 2px;
    border-radius: 100%;
    border: none;
    font-size: 32px;
    background-color: orangered;
    color: white;
    transform: translate(0);
}

.button1:hover{
      transition: 0s ease-in-out;
    box-shadow: 0 0 10px white,
                0 0 10px white,
                0 0 10px white,
                0 0 10px white;
  cursor: pointer;
}